<!DOCTYPE HTML>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf模板渲染</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="icon" href="/images/love.jpg"/>  <!--标签图标-->
</head>
<body>
    <form action="/add" method="post">
        用户姓名：<input type="text" name="name" value="张三"/><br/>
        用户年龄：<input type="text" name="age" value="16"/><br/>
        用户工资：<input type="text" name="salary" value="22323.22"/><br/>
        用户生日：<input type="text" name="birthday" value="2019-01-01"/><br/>
        用户邮箱：<input type="text" name="email" value="zcc@zcc.com"/><br/>
        <input type="submit" value="提交"/>
        <input type="reset" value="重置"/>
    </form>
</body>
</html>